@use "./indexStyles/index";
@use "./loginStyles/login";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #333;

}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

textarea {
    width: 100%;
    max-width: 600px;
    padding: 0.9rem 0.7rem;
    box-sizing: border-box;
    font-size: 17px;
    color: #4A4A4A;
    border: none;
    outline: none;
    resize: vertical;
}

@media (max-width: 767px) {
    textarea {
        max-width: 100%;
    }
}

body {
    background: linear-gradient(to right, #C6EA8D, #00CDAC);
}

header {
    max-width: 1400px;
    width: 97%;
    margin: 0 auto;
    align-items: center;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.logoutBtn {
    cursor: pointer;
    display: inline-block;
    padding: 0.9rem 2.5rem;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

main {
    max-width: 1400px;
    width: 95%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
}

fieldset {
    width: 60%;
    height: auto;
    border-radius: 10px;
    font-weight: 700;
    margin: 0 auto;
    overflow: hidden;
    font-size: 20px;
    line-height: 30px;
    border: none;
    background-color: rgb(255, 255, 255, 0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

legend {
    color: #4A4A4A;
    padding: 20px;
}


.form-field-admin-file {
    background-color: white;
    padding: 7px;
    text-indent: 40px;
    font-weight: normal;
    cursor: pointer;

    label {
        width: 100%;
        color: #333;
        font-weight: normal;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .imageIcon img {
        width: 25px;
        height: 25px;
    }
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    font-weight: normal;
    position: absolute;
    z-index: -1;
    background-color: white;

    &+label {
        background-color: #fff;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
        cursor: pointer;
    }

    &:focus+label,
    &+label:hover {
        background-color: red;
    }
}


footer {
    max-width: 1440px;
    width: 97%;
    margin: 20px auto 0;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;

    p {
        border-radius: 10px 10px 0 0;
        width: 100%;
        padding: 0.9rem 2.5rem;
        text-align: center;
        background-color: rgb(255, 255, 255, 0.6);
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
    }
}